body {
    font-family: "pf-videotext", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(to bottom, #2c3e50, #4ca1af); /* Gradient background */
    /* cursor: url('precision-cursor.png'), auto;  */
}

ul {
    list-style-type: none; /* Remove default list style */
}

li {
    margin-bottom: 5px;
    text-align: left;
}

.background-video, .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darker overlay */
    z-index: 0;
}

.container {
    position: absolute;
    bottom: 20px; /* Position 20px from the bottom */
    left: 0;      /* Align to the left side of the screen */
    right: 0;     /* Allow stretching to the right side */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-audio-player {
    display: flex;
    flex-direction: column; /* Ensure elements are stacked vertically */
    align-items: center;
    /* background: #00000046;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    /* padding: 15px; */
    /* width: 80%; */
    max-width: 600px;
    /* margin-bottom: 20px; */
}

.custom-audio-player .controls {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.clock {
    width: 100px;
    height: 100px;
    border: 5px solid #00ff00;
    border-radius: 50%;
    position: relative;
    margin-left: auto; /* Push the clock to the right */
    text-align: right; /* Ensures text is right-aligned */
    font-family: "pf-videotext", sans-serif;
    background-color: rgba(30, 30, 30, 0.8);
}

.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-3px); /* Adjust for border */
}

.hand {
    width: 50%;
    height: 2px;
    background: #00ff00;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    height: 4px;
}

.minute-hand {
    height: 3px;
}

.second-hand {
    height: 2px;
}

.progress {
    flex: 1;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent progress background */
    height: 5px;
    border-radius: 5px;
    margin: 0 5px;
    position: relative;
}

#progressBar {
    background: #333; /* Progress bar color */
    height: 100%;
    width: 0%;
    border-radius: 5px;
}

.bg-options {
    background-color: transparent; /* Remove background color */
    padding: 0; /* Remove padding */
    margin: 5px; /* Margin between buttons */
    border-radius: 0; /* Remove rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: color 0.3s; /* Smooth transition for color */
    position: absolute;
    top: 20px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    justify-content: center; /* Center the buttons */
}

.bg-options button {
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    color: #fff; /* Text color */
    padding: 0; /* Remove padding */
    margin: 0 10px; /* Margin between words */
    font-family: 'pf-videotext', sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer; /* Pointer cursor on hover */
    transition: color 0.3s; /* Smooth transition for color */
}

.bg-options button:hover {
    color: rgb(200, 62, 191); /* Change color on hover */
}

.bg-options button.active {
    color: rgb(200, 62, 191); /* Active color */
}

button {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent buttons */
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: color 0.3s; /* Remove background transition */
}

button:hover {
    color: #000; /* Change text color on hover */
}

button:focus {
    outline: none; /* Remove focus outline */
}

.stream-message {
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'pf-videotext', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    max-width: 250px;
}

.sound-wave {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Space between the soundwave and the play button */
}

.bar {
    width: 4px;
    height: 10px;
    background-color: #fff;
    margin: 0 2px;
    transition: height 0.3s ease-in-out; /* Ensure smooth transition when not playing */
}

.playing .bar {
    animation: wave 1s infinite ease-in-out;
}

.bar:nth-child(1) { animation-delay: 0s; }
.bar:nth-child(2) { animation-delay: 0.1s; }
.bar:nth-child(3) { animation-delay: 0.2s; }
.bar:nth-child(4) { animation-delay: 0.3s; }
.bar:nth-child(5) { animation-delay: 0.4s; }
.bar:nth-child(6) { animation-delay: 0.5s; } /* Add delay for 6th bar */
.bar:nth-child(7) { animation-delay: 0.6s; } /* Add delay for 7th bar */

@keyframes wave {
    0%, 100% { height: 10px; }
    50% { height: 20px; }
}

textarea {
    display: block;
    resize: none;
    background-color: rgba(30, 30, 30, 0.8); /* Dark background with semi-transparency */
    color: #d4d4d4; /* Light text color */
    padding: 10px 15px;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    font-size: 14px;
    border: 1px solid #333; /* Border for a more defined look */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for a more IDE-like appearance */
    width: 30%; /* 30% width for desktop */
    height: 150px; /* Adjust height */
    text-align: left; /* Left-align text */
}

@media (max-width: 768px) {
    textarea {
        width: calc(100% - 40px); /* Full width for mobile */
    }
}

/* Syntax highlighting */
.token.comment { color: #6a9955; }
.token.keyword { color: #569cd6; }
.token.string { color: #ce9178; }
.token.function { color: #dcdcaa; }
.token.operator { color: #d4d4d4; }
.token.punctuation { color: #d4d4d4; }

#text-download {
    display: flex;
    margin-left: 20px;
}

/* Modern retro volume slider styles */
.volume-control {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px; /* Adjust margin as needed */
}

.volume-control input[type="range"] {
    -webkit-appearance: none;
    width: 120px; /* Adjust width as needed */
    margin-left: 10px;
    background: linear-gradient(to right, #ff00cc, #3333ff); /* Gradient background */
    border-radius: 3px;
    height: 7px;
    outline: none;
    transition: background 0.3s ease-in-out;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ff00cc;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.volume-control input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ff00cc;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.volume-control input[type="range"]:hover {
    background: linear-gradient(to right, #ff00cc, #ff6600); /* Change gradient on hover */
}

.volume-control input[type="range"]:hover::-webkit-slider-thumb {
    background: #ff6600;
}

.volume-control input[type="range"]:hover::-moz-range-thumb {
    background: #ff6600;
}

.CodeMirror {
    background-color: rgba(30, 30, 30, 0.8) !important; /* Dark background with 50% transparency */
    color: #d4d4d4; /* Light text color */
    border: 1px solid #333; /* Border for a more defined look */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for a more IDE-like appearance */
    width: 30%; /* 30% width for desktop */
    height: 150px; /* Adjust height */
    text-align: left; /* Left-align text */
    margin-left: 20px;
}

@media (max-width: 768px) {
    .CodeMirror {
        width: calc(100% - 40px); /* Full width for mobile */
    }
}

#pong {
    display: block;
    margin: 20px auto;
    background-color: #000;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px; /* Updated size */
    height: 300px; /* Updated size */
}

#playPongBtn, #closePongBtn {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left; /* Left-align text */
    transition: background 0.3s, color 0.3s;
}

#playPongBtn {
    margin-left: 20px; /* Align with play/pause button */
}

#closePongBtn {
    margin-left: 20px; /* Align with play/pause button */
}

#playPongBtn:hover, #closePongBtn:hover {
    background: #fff;
    color: #000;
}

#playPauseBtn, #ytplay {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s;
}


#playPauseBtn:hover {
    background: #fff;
    color: #000;
}

.digital-clock {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #00ff00;
    font-family: "pf-videotext", sans-serif;
    font-size: 24px;
    text-align: center;
    transform: translateY(-170%); /* Adjust position to align with the custom audio player div */
}

.sidebar {
    position: fixed;
    top: 40px; /* Adjust top position to be below the hamburger icon */
    left: -300px; /* Hide sidebar completely */
    width: 300px;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3);  */
    /* padding: 10px; */
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);  */
    z-index: 1; /* Ensure it is above other elements */
    display: flex; /* Display sidebar */
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    transition: left 0.3s ease-in-out; /* Smooth slide-in transition */
}

.sidebar.open {
    left: 0; /* Show sidebar when open */
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 15px 0;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: rgb(200, 62, 191); /* Change color on hover */
}

.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2; /* Ensure it is above other elements */
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    background: url('astronaut.png') no-repeat center center; /* Use custom sunglasses icon */
    background-size: contain; /* Ensure the icon fits within the element */
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    text-indent: -9999px; /* Hide text */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: #fff;
    margin-top: 40px;
    padding: 20px;
    margin-left: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.profile .name {
    font-family: 'pf-videotext', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.profile .github-handle {
    font-family: 'pf-videotext', sans-serif;
    font-size: 16px;
    color: #ccc;
}

.station-list li {
    background: rgba(255, 255, 255, 0.1); 
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.station-list li:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.bg-previews {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 40px
}

.bg-preview {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 10px;
}

.bg-preview:hover {
    transform: scale(1.1);
}

.weather {
    position: absolute;
    top: 20px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    justify-content: center; /* Center the buttons */
    color: #fff;
    font-family: 'pf-videotext', sans-serif;
    letter-spacing: .1em;
    align-items: center;
}

#weather-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 12px;
}

#weather-description {
    font-size: 20px;
    margin-bottom: 5px;
    display: none;
}

#temperature {
    font-size: 24px;
    margin-bottom: 5px;
    display: none;
}

#high-low {
    font-size: 16px;
}

@media (max-width: 768px) {
    textarea {
        width: calc(100% - 40px); /* Full width for mobile */
    }
    .CodeMirror {
        width: calc(100% - 40px); /* Full width for mobile */
    }
    .weather {
        left: auto; /* Remove centering */
        right: 20px; /* Align to the right */
        transform: none; /* Remove centering transform */
    }
    .volume-control {
        display: none; /* Hide volume control on mobile */;
    }

    .custom-audio-player .controls {
        width: auto;
    }
    #weather-icon {
        display: none;
    }
}